<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .loginbox{
            width: 500px;
            margin: 0 auto;
        }
    </style>
    <script src="/js/common.js"></script>
    <script src="/js/login.js"></script>
    <script>
        window.addEventListener('load', function(){
            let saveId = getCookie("saveId");
            if(saveId != null){
                id.value = saveId;
                chkIdSave.checked = true;
            }
            btn_login.addEventListener('click', function(e){
                e.preventDefault();
                
                fn_login()
            })
        });
    </script>
</head>
<body>
    <!--
    컨트롤러 요청 생성
    /newLogin - get
    /newLoginAction - post
    -->
    <form action="/newLoginAction" method="post" name="form_login">
    <div class="loginbox">
        <h1>로그인</h1>
        <p>
            <div th:text="${msg}"></div>
        </p> 
        <p>
        <!--id : 화면에서 요소를 선택하기 위해
        name : 서버에 값을 전달
        value : 서버에 전달 되는 값-->
        <input type="text" class="form-control" aria-describedby="passwordHelpBlock"
            placeholder="아이디" id="id" name="id">
        </p>
        <p>
            <input type="password" class="form-control" aria-describedby="passwordHelpBlock"
                placeholder="비밀번호"
                id="pw"
                name="pw">
        </p>
        <p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  name="chkIdSave" id="chkIdSave" value="1">
            <label class="form-check-label" for="flexCheckDefault">
                아이디 저장하기
            </label>
        </div>
        </p>
        <button type="submit" class="btn btn-primary form-control" id="btn_login">로그인</button>


    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>